div, body, ul, li {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	overflow-x: hidden;
}

.header {
	position: fixed;
	top: 0px;
	bottom: 0px;
	background-color: #d3dcdf;
	z-index: 12;
	text-align: center;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	transition: left 0.3s;
}

.header.active {
	left: 0%;
}

.header .nav {
	list-style-type: none;
}

.header .nav .navItem {
	padding: 15px 30px;
	color: #1b5664;
	cursor: pointer;
	font-family: 'Lilita One';
	font-size: 1.2em;
	border-top: 1px solid rgba(23, 72, 84, 0.1);
	background-color: rgba(211, 220, 223, 1);
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.header .nav:last-child {
	border-bottom: 1px solid rgba(23, 72, 84, 0.1);
}

.header .nav .navItem.active {
	color: #0b2228;
}

.header .nav .navItem:hover {
	background-color: rgba(255,255,255,0.2);
}

.header .nav .head {
	display: none;
	text-align: right;
	padding: 20px;
}

.header .nav .head .closeHeader {
	cursor: pointer;
}

.header .nav .head img {
	height: 20px;
}

.content {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0%;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	transition: left 0.3s;
}

.hamburger {
	position: fixed;
	top: 20px;
	left: 20px;
	color: white;
	z-index: 10;
	font-size: 2em;
	cursor: pointer;
}

.hamburger img {
	height: 30px;
}

.appteam-logo {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 10;
}

.appteam-logo img {
	height: 60px;
	width: 50px;
}

.fullOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.6);
	z-index: 7;
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s
}

.frame {
	position: relative;
	width: 100%;
}

.frame1 {
	background-color: rgba(213, 246, 255, 1);
	height: 110%;
}

.frame1 img {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0px;
}

.frame1 .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

.logo {
	text-align: center;
	position: relative;
	top: 20px;
	display: block;
	z-index: 6;

}
.logo svg {
	width: 300px;
}

.logo svg path {
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	-webkit-transition: all 3s;
	-moz-transition: all 3s;
	transition: all 3s;
}

.logo.active svg path {
	stroke-dashoffset: 0;
}

#c {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 5;
}

.frame2 {
	background-color: rgba(33, 103, 120, 1);
	min-height: 110%;
	padding-bottom: 50px;
}

.rotated {
	width: 60%;
	height: 100px;
	transform-origin: 0px 0px;
	position: absolute;
	top: -80px;
	transform: rotate(5deg);
}

.rotated2 {
	width: 60%;
	height: 100px;
	transform-origin: 100% 0px;
	position: absolute;
	top: -80px;
	right: 0px;
	transform: rotate(-5deg);
}

.frame2 .rotated {
	background-color: rgba(33, 103, 120, 1);
}

.frame2 .rotated2 {
	background-color: rgba(33, 103, 120, 1);
}

.schedule {
	background-color: rgba(33, 103, 120, 1);
	width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 2;
	text-align: center;
}

.top-schedule {
	width: 100%;
	display: inline-block;
	height: 50%;
	text-align: center;
	padding: 5% 0px 3% 0px;
	position: relative;
}

.top-schedule-content {
	position: relative;
	display: none;
}

.top-schedule-content.active {
	display: inline-block;
}

.top-schedule svg {
	height: 200px;
}

.top-schedule-content.register svg path {
	stroke-dasharray: 2200;
	stroke-dashoffset: 2200;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	transition: all 2s;
}

.top-schedule-content.register svg.active path {
	stroke-dashoffset: 0;
}

.top-schedule-content.travel svg path {
	stroke-dasharray: 2200;
	stroke-dashoffset: 2200;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	transition: all 2s;
}

.top-schedule-content.travel svg.active path {
	stroke-dashoffset: 0;
}

.top-schedule-content.code svg path {
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	transition: all 2s;
}

.top-schedule-content.code.active svg.active path {
	stroke-dashoffset: 0;
}

.top-schedule-content.prize svg path {
	stroke-dasharray: 1400;
	stroke-dashoffset: 1400;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	transition: all 2s;
}

.top-schedule-content.prize.active svg.active path {
	stroke-dashoffset: 0;
}

.divider {
	width: 95%;
	display: inline-block;
	position: relative;
}

.divider-middle {
	width: 70%;
	display: inline-block;
	height: 1px;
	background-color: white;
	vertical-align: middle;
}

.divider-left {
	display: inline-block;
	color: white;
	font-family: 'Lilita One';
	margin-left: 20px;
	position: absolute;
	left: 0px;
	font-size: 1.2em;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.divider-right {
	display: inline-block;
	color: white;
	font-family: 'Lilita One';
	margin-left: 20px;
	position: absolute;
	right: 0px;
	font-size: 1.2em;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.divider-right.inactive, .divider-left.inactive {
	color: rgba(255,255,255,0.5);
}

.divider-left:hover {
	font-size: 1.3em;
}

.divider-right:hover {
	font-size: 1.3em;
}

.bottom-schedule {
	width: 70%;
	display: inline-block;
	min-height: 50%;
	color: white;
	font-family: 'Lilita One';
	text-align: center;
	padding: 3% 10px;
}

.bottom-schedule-content {
	display: none;
	opacity: 0;
	position: relative;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	transition: opacity 2s;
}

.bottom-schedule-content.active {
	display: inline-block;
}

.bottom-schedule-content.active.displayContent {
	opacity: 1;
}

.schedule-content {
	font-size: 1.2em;
	padding: 5px 0px;
}

.frame3 {
	background-color: #11353E;
	height: 110%;
}

.frame3 .rotated {
	background-color: #11353E;
	z-index: 2;
}

.frame3 .rotated2 {
	background-color: #11353E;
	z-index: 2;
}