div, body, ul, li {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	overflow-x: hidden;
}

.header {
	position: fixed;
	top: 0px;
	bottom: 0px;
	background-color: #d3dcdf;
	z-index: 10;
	text-align: center;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	transition: left 0.3s;
}

.header.active {
	left: 0%;
}

.header .nav {
	list-style-type: none;
}

.header .nav .navItem {
	padding: 15px 30px;
	color: #1b5664;
	cursor: pointer;
	font-family: 'Lilita One';
	font-size: 1.2em;
	border-top: 1px solid rgba(23, 72, 84, 0.1);
	background-color: rgba(211, 220, 223, 1);
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.header .nav:last-child {
	border-bottom: 1px solid rgba(23, 72, 84, 0.1);
}

.header .nav .navItem.active {
	color: #0b2228;
}

.header .nav .navItem:hover {
	background-color: rgba(255,255,255,0.2);
}

.header .nav .head {
	display: none;
	text-align: right;
	padding: 20px;
}

.header .nav .head .closeHeader {
	cursor: pointer;
}

.header .nav .head img {
	height: 20px;
}

.content {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0%;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	transition: left 0.3s;
}

.hamburger {
	position: fixed;
	top: 20px;
	left: 20px;
	color: white;
	z-index: 5;
	font-size: 2em;
	cursor: pointer;
}

.hamburger img {
	height: 30px;
}

.fullOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.6);
	z-index: 6;
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s
}

.frame {
	position: relative;
	width: 100%;
	height: 110%;
}

.frame1 {
	background-color: rgba(213, 246, 255, 1);
}

.frame1 img {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0px;
}

.frame1 .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

.frame2 {
	background-color: rgba(33, 103, 120, 1);
}

.frame2 .rotated {
	width: 60%;
	height: 100px;
	background-color: rgba(33, 103, 120, 1);
	transform-origin: 0px 0px;
	position: absolute;
	top: -80px;
	transform: rotate(5deg);
}

.frame2 .rotated2 {
	width: 60%;
	height: 100px;
	background-color: rgba(33, 103, 120, 1);
	transform-origin: 100% 0px;
	position: absolute;
	top: -80px;
	right: 0px;
	transform: rotate(-5deg);
}

.logo{
	text-align: center;
	position: relative;
	top: 20px;
	display: block;

}
.logo svg {
	width: 300px;
}

.logo svg path {
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	-webkit-transition: all 3s;
	-moz-transition: all 3s;
	transition: all 3s;
}

.logo svg path.active {
	stroke-dashoffset: 0;
}