@media(max-width: 768px){
	.header .nav .head  {
		display: block;
	}

	.header {
		width: 100%;
		left: -100%;
	}

	.content.active {
		left: 100%;
	}

	body.active {
		overflow: hidden;
	}

	.hamburger img {
		height: 20px;
	}

	.appteam-logo img {
		height: 40px;
		width: 35px;
	}

	.github-home-icon {
		width: 70px;
		padding-right: 0px;
	}

	.frame5 {
		padding: 100px 0px;
	}

	.frame5 .sponsor-icons {
		width: 90%;
	}

	.sponsor-icons .sponsor-icon img {
		width: 80%
	}

	.sponsor-icons .sponsor-icon {
		width: 49%;
		padding: 5px;
	}

	.sponsor-icons .sponsor-icon.main-sponsor {
		width: 100%;
		display: block;
		text-align: center;
	}

	.sponsor-icons .sponsor-icon.main-sponsor img {
		width: 50%;
		height: auto;
	}

	.faq {
		font-size: 0.8em;
	}

	.frame6 {
		padding: 40px 0px;
	}

	.frame2 .name, .frame3 .name, .frame4 .name {
		font-size: 1.7em;
	}

	.frame4 .img-back-left, .frame2 .img-back-left {
		width: 400px;
		top: 5%;
	}

	.frame4 .img-back-right, .frame2 .img-back-left {
		top: 40%;
		right: -10%;
	}

	.frame3 .track-icons {
		width: 70%;
	}

	.frame3 .a-track {
		width: 100%;
	}

	.frame3 .track-name {
		font-size: 1em;
	}

	.frame4-right {
		left: 0px;	
	}

	.sponsor-icons .sponsor-icon.dev-icon img {
		width: 90%;
	}

	.prize {
		width: 90%;
		margin: 5%;
	}
}

@media(max-width: 949px){
	.frame1 {
		height: auto;
	}

	.frame1-left {
		position: relative;
		width: 100%;
		height: auto;
		text-align: center;
		margin-bottom: 80px;
	}

	.frame1-left .content {
		text-align: center;
		transform: none;
	}

	.frame1-right {
		position: relative;
		width: 100%;
		height: auto;
		padding-top: 80px;
		text-align: center;
	}

	.frame1-right img {
		position: static;
		width: 60%;
		transform: none;
	}

	.frame2-left, .frame4-left {
		position: relative;
		width: 100%;
		height: auto;
		padding: 0px 10px;
	}

	.frame1-left .name {
		font-size: 2em;
	}

	.frame1-left .date {
		font-size: 1em;
	}

	.sponsor-name {
		font-size: 1.2em;
	}

	.frame2-right, .frame4-right {
		position: relative;
		width: 100%;
		height: auto;
		padding: 0px;
		left: 0px;
	}

	.frame2-left img, .frame4-left img {
		position: static;
		transform: none;
	}

	.frame2 .img-back-left, .frame4 .img-back-left {
		top: 5%;
	}

	.frame2 .img-back, .frame4 .img-back {
		top: 50%;
		width: 500px;
	}

	.frame2, .frame4 {
		height: auto;
	}

	.frame2-right {
		padding: 0px 20px;
	}

	.frame4-right {
		padding-left: 30px;
	}

	.frame4 .timeline {
		width: 100%;
	}

	.frame2 .content {
		font-size: 1em;
		padding: 30px 20px;
	}
}

@media(min-width: 769px) and (max-width: 949px){
	.fullOverlay.active {
		display: block;
		opacity: 1;
	}

	.header {
		width: 30%;
		left: -30%;
	}

	.content.active {
		left: 30%;
		filter: blur(1px);
	}

	body.active {
		overflow: hidden;
	}

	.frame3 .a-track {
		width: 40%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

	.frame3 .track-icons {
		width: 70%;
	}

	.frame3 .track-name {
		font-size: 1em;
	}

	.prize {
		width: 45%;
		margin: 2.5%;
	}
}

@media(min-width: 950px){
	.fullOverlay.active {
		display: block;
		opacity: 1;
	}

	.header {
		width: 25%;
		left: -25%;
	}

	.content.active {
		left: 25%;
		filter: blur(1px);
	}

	body.active {
		overflow: hidden;
	}
}