@media(max-width: 768px){
	.header .nav .head  {
		display: block;
	}

	.header {
		width: 100%;
		left: -100%;
	}

	.content.active {
		left: 100%;
	}

	body.active {
		overflow: hidden;
	}

	.frame1 img {
		height: 40%;
		width: auto;
	}

	.logo {
		top: 40px;
	}

	.logo svg {
		width: 200px;
	}

	.hamburger img {
		height: 20px;
	}

	.appteam-logo img {
		height: 40px;
		width: 35px;
	}

	.top-schedule {
		padding: 50px 0px 50px 0px;
	}

	.top-schedule-content svg {
		height: 120px;
	}

	.bottom-schedule {
		width: 90%;
		font-size: 0.7em;
		padding: 50px 0px 20px 0px;
	}

	.divider-middle {
		width: 50%;
	}

	.divider-left, .divider-right {
		font-size: 0.8em;
	}

	.divider-left:hover, .divider-right:hover {
		font-size: 0.8em;
	}

	.frame2 {
		padding-bottom: 20px;
	}
}

@media(min-width: 769px) and (max-width: 949px){
	.fullOverlay.active {
		display: block;
		opacity: 1;
	}

	.header {
		width: 30%;
		left: -30%;
	}

	.content.active {
		left: 30%;
		filter: blur(1px);
	}

	body.active {
		overflow: hidden;
	}

	.divider {
		width: 85%;
	}

	.right-schedule {
		width: 80%;
	}
}

@media(min-width: 950px){
	.fullOverlay.active {
		display: block;
		opacity: 1;
	}

	.header {
		width: 25%;
		left: -25%;
	}

	.content.active {
		left: 25%;
		filter: blur(1px);
	}

	body.active {
		overflow: hidden;
	}
}