@media(max-width: 768px){
	.header .nav .head  {
		display: block;
	}

	.header {
		width: 100%;
		left: -100%;
	}

	.content.active {
		left: 100%;
	}

	body.active {
		overflow: hidden;
	}

	.hamburger img {
		height: 20px;
	}

	.appteam-logo img {
		height: 40px;
		width: 35px;
	}
}

@media(max-width: 949px){
	.frame1-left {
		position: relative;
		width: 100%;
		height: auto;
		text-align: center;
	}

	.frame1-left .content {
		text-align: center;
	}

	.frame1-right {
		position: relative;
		width: 100%;
		height: auto;
		padding-top: 80px;
		text-align: center;
	}

	.frame1-right img {
		position: static;
		width: 60%;
	}

	.frame2-left {
		position: relative;
		width: 100%;
		height: auto;
	}

	.frame2-right {
		position: relative;
		width: 100%;
		height: auto;
		padding: 0px;
	}

	.frame2-left img {
		position: static;
	}

	.frame2 .img-back-left {
		top: 5%;
	}

	.frame2 .img-back {
		top: 40%;
		width: 700px;
	}
}

@media(min-width: 769px) and (max-width: 949px){
	.fullOverlay.active {
		display: block;
		opacity: 1;
	}

	.header {
		width: 30%;
		left: -30%;
	}

	.content.active {
		left: 30%;
		filter: blur(1px);
	}

	body.active {
		overflow: hidden;
	}
}

@media(min-width: 950px){
	.fullOverlay.active {
		display: block;
		opacity: 1;
	}

	.header {
		width: 25%;
		left: -25%;
	}

	.content.active {
		left: 25%;
		filter: blur(1px);
	}

	body.active {
		overflow: hidden;
	}
}